@charset "UTF-8";
html, body {
  -webkit-font-smoothing: antialiased;
  -webkit-print-color-adjust: exact;
  -webkit-text-size-adjust: none;
}

body {
  min-width: 1000px;
  font-family: '游ゴシック', YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.05em;
}
body[data-page^="popup"] {
  min-width: 600px;
}

body * {
  box-sizing: border-box;
  word-break: break-all;
}

body, div, p, form, input, textarea, select, option, button, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, address, button, figure, figcaption {
  font-style: normal;
  line-height: 1;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
}

select, input[type="text"], input[type="password"], textarea {
  border: 0px;
  border-radius: 0;
  box-shadow: 0;
  outline: none;
  font-family: '游ゴシック', YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-size: 14px;
  color: #000;
  letter-spacing: 0.05em;
}

input[type="text"], input[type="password"], textarea, select {
  outline: none;
}

table {
  border-collapse: collapse;
}

article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary, main {
  display: block;
}

img, svg {
  border: 0;
  vertical-align: middle;
}

ul, ol, li {
  list-style: none;
}

a {
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

i {
  font-style: normal;
}

.mCSB_container {
  overflow: hidden;
}

.mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
}

.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar, .mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar {
  margin-right: 30px;
}

.mCustomScrollBox > .mCSB_scrollTools {
  width: 3px;
  height: 100%;
  top: 0;
  right: -11px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 1px;
  height: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px;
  height: 100%;
  background-color: #fff;
}

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: relative;
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
}

.mCSB_scrollTools .mCSB_buttonDown {
  top: 100%;
  margin-top: -40px;
}

.mCSB_horizontal > .mCSB_container {
  height: auto;
  margin-right: 0;
  margin-bottom: 30px;
}

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-bottom: 0;
}

.mCS_disabled > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar, .mCS_destroyed > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
}

.mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
  width: 100%;
  height: 16px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.mCSB_horizontal > .mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 0 20px;
}

.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 5px 0;
  border-radius: 10px;
}

.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger {
  width: 6px;
  height: 100%;
}

.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  display: block;
  position: relative;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  float: left;
}

.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  margin-left: -40px;
  float: right;
}

.mCustomScrollBox {
  overflow: visible !important;
  -ms-touch-action: none;
}

.mCSB_scrollTools .mCSB_buttonUp, .mCSB_scrollTools .mCSB_buttonDown, .mCSB_scrollTools .mCSB_buttonLeft, .mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: .4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
}

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
}

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
}

.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
}

.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
}

.mCSB_scrollTools .mCSB_buttonUp:active, .mCSB_scrollTools .mCSB_buttonDown:active, .mCSB_scrollTools .mCSB_buttonLeft:active, .mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: .9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
}

.slick-slider * {
  outline: 0;
}

.slick-dots {
  display: block;
  width: 100%;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 10px 0 0;
  font-size: 0px;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 2px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 30px;
  height: 2px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: transparent;
}
.slick-dots li button:before {
  font-size: 6px;
  line-height: 6px;
  position: absolute;
  top: 0;
  left: 0;
  width: 30px;
  height: 2px;
  content: '';
  border-radius: 6px;
  background-color: #a8a8a8;
  text-align: center;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  background-color: #000;
}

.slick-list {
  overflow: hidden;
}

.slick-prev, .slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  z-index: 100;
  display: block;
  width: 0px;
  height: 0px;
  margin-top: -20px;
  padding: 0;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: transparent;
}

.slick-prev:hover, .slick-prev:focus {
  color: transparent;
  outline: 0;
  background: transparent;
}

.slick-next:hover, .slick-next:focus {
  color: transparent;
  outline: 0;
  background: transparent;
}

.slick-prev:hover:before, .slick-prev:focus:before {
  opacity: 1;
}

.slick-next:hover:before, .slick-next:focus:before {
  opacity: 1;
}

.slick-prev.slick-disabled:before, .slick-next.slick-disabled:before {
  opacity: .25;
}

.slick-prev:before, .slick-next:before {
  content: '';
  width: 0px;
  height: 0px;
  line-height: 1;
  display: block;
  color: white;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.index .sub, .currentNav_list a, .button-prev, .button-next, .listPager .page-numbers.prev, .listPager .page-numbers.next, .categoryList .categoryList_node, [data-page="worksPage"] .worksSlider_node .category li:before, [data-page="worksPage"] .worksSlider_node .category a, .header_serviceList_item, .header_lang svg, .header_langList_item, .footer_snsLineList:before, .footer, .mainTitle_sub, .itemList_block .category li:before, .itemList_block .category a {
  font-family: 'Lato','游ゴシック', YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
  font-style: italic;
}

.index .top, .anchor_navNode a, .listPager .page-numbers, [data-page="worksPage"] .worksSlider_node .date, [data-page="en"] .footer_introCap, .footer_linkNode dt, .mainTitle_top, .itemList_block .date {
  font-family: 'Oswald','游ゴシック', YuGothic, "Hiragino Kaku Gothic ProN", "Hiragino Kaku Gothic Pro", "ＭＳ ゴシック", sans-serif;
}

.ht {
  display: none !important;
}

.onlyTab {
  display: none;
}
html.tablet .onlyTab {
  display: block;
}
html.tablet .onlyTab.ib {
  display: inline-block;
}

.wrapper_inner, .slick-track, .listPager, .header_contents, .header_navList, .header_langList, [data-page="en"] .footer_link, .footer_linkContents, .footer_project_list {
  zoom: 1;
}
.wrapper_inner:before, .slick-track:before, .listPager:before, .header_contents:before, .header_navList:before, .header_langList:before, [data-page="en"] .footer_link:before, .footer_linkContents:before, .footer_project_list:before, .wrapper_inner:after, .slick-track:after, .listPager:after, .header_contents:after, .header_navList:after, .header_langList:after, [data-page="en"] .footer_link:after, .footer_linkContents:after, .footer_project_list:after {
  display: block;
  height: 0;
  visibility: hidden;
  content: "\0020";
}
.wrapper_inner:after, .slick-track:after, .listPager:after, .header_contents:after, .header_navList:after, .header_langList:after, [data-page="en"] .footer_link:after, .footer_linkContents:after, .footer_project_list:after {
  clear: both;
}

#header:before, body.fixed #header:before {
  -webkit-transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-color: #fff;
}

.wrapper {
  position: relative;
  overflow: hidden;
  background-color: #eee;
  border: 10px solid #fff;
  margin-top: 60px;
  z-index: 1000;
}
body[data-page="top"] .wrapper {
  background-color: #fff;
  border: 0px solid #fff;
}
body[data-page="service"] .wrapper {
  z-index: 1;
}
body[data-page="error"] .wrapper {
  padding-bottom: 100px;
}

.wrapper_inner {
  width: 960px;
  margin: 0 auto;
  position: relative;
}

.column_left {
  width: 600px;
  float: left;
}

.column_right {
  width: 300px;
  float: right;
}

.column_right_inner {
  width: 300px;
  position: absolute;
  top: 0px;
}
.column_right_inner.rl {
  position: relative;
}
.column_right_inner.ab {
  position: absolute;
}
.column_right_inner.fx {
  position: fixed;
}

.index {
  text-align: left;
  margin-bottom: 15px;
}
.index span {
  font-weight: normal;
  display: inline-block;
  vertical-align: top;
}
.index .top {
  font-size: 36px;
  display: block;
}
.index .sub {
  margin-top: 7px;
  font-size: 12px;
}

.breadList {
  width: 960px;
  margin: 10px auto 92px;
  clear: both;
}
.breadList li {
  font-size: 12px;
  display: inline;
}
.breadList li:first-child:before {
  display: none;
}
.breadList li:last-child {
  color: #57A4A9;
}
.breadList li:last-child a {
  color: #57A4A9;
}
.breadList li:before {
  content: ">";
  display: inline-block;
  padding: 0 3px;
  color: #000;
}
.breadList li br {
  display: none;
}

.anchor_nav {
  position: relative;
  width: 100%;
  background-color: #EEE;
  border-bottom: 1px solid #DDD;
  text-align: center;
  z-index: 1;
}

.anchor_navNode {
  display: inline-block;
  margin: 0 50px;
}
.anchor_navNode a {
  transition: 300ms ease;
  position: relative;
  display: block;
  font-size: 16px;
  color: #999;
  letter-spacing: 0.03em;
  line-height: 60px;
}
.anchor_navNode a:before {
  transition: 300ms ease;
  position: absolute;
  top: 50%;
  right: 125%;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #57A4A9;
}
.anchor_navNode a:hover {
  color: #57A4A9;
}
.anchor_navNode a:hover:before {
  width: 15px;
}

.currentNav {
  text-align: right;
}

.currentNav_list {
  display: inline-block;
  padding-left: 35px;
  position: relative;
  margin: 0 12px;
}
.currentNav_list a {
  font-size: 11px;
  color: #999;
  letter-spacing: 0.09em;
  display: block;
}
.currentNav_list:before {
  content: "";
  display: block;
  width: 20px;
  height: 1px;
  background-color: #999;
  position: absolute;
  top: 50%;
  left: 0;
}
.currentNav_list.active a, .currentNav_list:hover a {
  color: #5BA4A7;
}
.currentNav_list.active:before, .currentNav_list:hover:before {
  background-color: #5BA4A7;
}

.button-prev, .button-next, .listPager .page-numbers.prev, .listPager .page-numbers.next {
  display: block;
  width: 160px;
  height: 50px;
  padding: 0 15px;
  position: absolute;
  color: #fff;
  font-size: 15px;
  text-align: center;
  line-height: 44px;
  letter-spacing: .08em;
  background-repeat: no-repeat;
  background-origin: content-box;
  border: 2px solid #fff;
  z-index: 1;
  transition: background .3s, border .3s;
}
.button-prev:after, .button-next:after, .listPager .page-numbers.prev:after, .listPager .page-numbers.next:after {
  content: '';
  display: block;
  width: 20px;
  height: 1px;
  position: absolute;
  top: 50%;
  background: #fff;
  transition: width .2s, left .2s, right .2s;
}

a.button:hover .button-prev, a.button:hover .button-next {
  border: 2px solid #57A4A9;
  background-color: #57A4A9;
}
a.button:hover .button-prev:after, a.button:hover .button-next:after {
  width: 0;
}
a.button:hover .button-prev:after {
  left: 20px;
}
a.button:hover .button-next:after {
  right: 20px;
}

.button-prev {
  background-image: url(../images/common/i_arrow_left.png);
  background-position: left center;
}
.button-prev:after {
  left: 148px;
}

.button-next {
  background-image: url(../images/common/i_arrow_right.png);
  background-position: right center;
}
.button-next:after {
  right: 148px;
}

.slick-slide {
  float: left;
}
[dir=rtl] .slick-slide {
  float: right;
}

.slick-arrow {
  transition: background 150ms ease;
}
.slick-arrow:hover {
  background-color: #fff;
}
.slick-arrow:before, .slick-arrow:after {
  width: 10px;
  height: 13px;
}

.slick-prev {
  left: 0px;
}

[dir='rtl'] .slick-prev {
  right: 0px;
  left: auto;
}

.slick-prev:before, .slick-next:before {
  content: "";
  display: block;
  width: 10px;
  height: 13px;
  background-repeat: no-repeat;
  background-position: center center;
}

[dir='rtl'] .slick-prev:before {
  background-image: url(../images/common/i_arrow_left.png);
}

.slick-next {
  right: 0px;
}

[dir='rtl'] .slick-next {
  right: auto;
  left: 0px;
}

[dir='rtl'] .slick-next:before {
  background-image: url(../images/common/i_arrow_right.png);
}

.itemList_block .postNode:hover .nodeImg img {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}
.itemList_block .postNode:hover .mixBg i.l1, .itemList_block .postNode:hover .mixBg i.l3 {
  width: 100%;
}
.itemList_block .postNode:hover .mixBg i.l2, .itemList_block .postNode:hover .mixBg i.l4 {
  height: 100%;
}
.itemList_block .postNode .nodeImg {
  overflow: hidden;
}
.itemList_block .postNode .nodeImg img {
  transition: -webkit-transform 1200ms ease;
  transition: transform 1200ms ease;
}
.itemList_block .postNode .mixBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.itemList_block .postNode .mixBg i {
  content: "";
  position: absolute;
}
.itemList_block .postNode .mixBg i.l1 {
  transition: 250ms 200ms linear;
}
.itemList_block .postNode .mixBg i.l2 {
  transition: 250ms 400ms linear;
}
.itemList_block .postNode .mixBg i.l3 {
  transition: 250ms 600ms linear;
}
.itemList_block .postNode .mixBg i.l4 {
  transition: 250ms 800ms linear;
}
.itemList_block .postNode .mixBg i.l1 {
  width: 0%;
  height: 4px;
  left: 0;
  top: 0;
}
.itemList_block .postNode .mixBg i.l2 {
  width: 4px;
  height: 0%;
  right: 0;
  top: 0;
}
.itemList_block .postNode .mixBg i.l3 {
  width: 0%;
  height: 4px;
  right: 0;
  bottom: 0;
}
.itemList_block .postNode .mixBg i.l4 {
  width: 4px;
  height: 0%;
  left: 0;
  bottom: 0;
}

.listPager {
  position: relative;
  margin-top: 100px;
  text-align: center;
}
.listPager .page-numbers {
  text-align: center;
  height: 50px;
  line-height: 48px;
  display: inline-block;
  color: #999;
  font-size: 16px;
  padding: 0 15px;
  margin: 0 2px;
  transition: background 300ms ease;
}
.listPager .page-numbers.current, .listPager .page-numbers:hover {
  background-color: #57A4A9;
  color: #fff;
  border-color: transparent;
}
.listPager .page-numbers.dots:hover {
  background-color: transparent;
  color: #999;
  border-color: transparent;
}

.categoryList {
  font-size: 0;
  text-align: center;
  margin-bottom: 100px;
}
.categoryList ul {
  display: inline-block;
}
.categoryList .categoryList_node {
  display: inline-block;
  font-size: 16px;
  position: relative;
  text-transform: capitalize;
}
.categoryList .categoryList_node a {
  color: #666;
  display: block;
  transition: color 300ms;
}
[data-page="worksPage"] .categoryList .categoryList_node a {
  padding: 0 65px 30px;
}
[data-page="newsPage"] .categoryList .categoryList_node a {
  padding: 0 50px 30px;
}
.categoryList .categoryList_node a:after {
  content: "";
  transition: 300ms ease;
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  border-bottom: 1px solid #57A4A9;
}
.categoryList .categoryList_node:hover a, .categoryList .categoryList_node.active a {
  color: #57A4A9;
}
.categoryList .categoryList_node:hover a:after, .categoryList .categoryList_node.active a:after {
  width: 100%;
}

.worksSliderBlock {
  position: relative;
}
[data-page="works"] .worksSliderBlock {
  margin-bottom: 95px;
}
[data-page="worksPage"] .worksSliderBlock {
  margin-bottom: 150px;
}

.worksBackSlider_node {
  position: relative;
}
[data-page="worksPage"] .worksBackSlider_node {
  height: 615px;
}
[data-page="works"] .worksBackSlider_node {
  height: 650px;
}
[data-page="en"] .worksBackSlider_node {
  height: 550px;
}

.worksBackSlider_img {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}
.worksBackSlider_img:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.tablet .worksBackSlider_img:before {
  background: rgba(0, 0, 0, 0.6);
}
.worksBackSlider_img img {
  -webkit-filter: blur(15px);
          filter: blur(15px);
  position: absolute;
  top: -100%;
  right: -100%;
  bottom: -100%;
  left: -100%;
  margin: auto;
  min-width: 105%;
  min-height: 105%;
  z-index: 1;
}

.worksSliderWrap {
  width: 100%;
  position: absolute;
  top: 50%;
}
[data-page="worksPage"] .worksSliderWrap {
  margin-top: -170px;
}
[data-page="works"] .worksSliderWrap {
  margin-top: -280px;
}
[data-page="en"] .worksSliderWrap {
  margin-top: 45px;
  z-index: 100;
  top: 0;
}

.worksSlider_node {
  position: relative;
  width: 720px;
  margin: 0 90px;
}
.worksSlider_node a {
  display: block;
}
[data-page="worksPage"] .worksSlider_node .title {
  margin-bottom: 15px;
}
[data-page="worksPage"] .worksSlider_node .title a {
  color: #fff;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: .06em;
}
[data-page="worksPage"] .worksSlider_node .date {
  display: inline-block;
  padding-right: 12px;
  font-size: 14px;
  letter-spacing: .16em;
  vertical-align: top;
}
[data-page="worksPage"] .worksSlider_node .date:after {
  content: "|";
  display: inline-block;
  vertical-align: top;
  padding-left: 19px;
}
[data-page="worksPage"] .worksSlider_node .category {
  display: inline-block;
}
[data-page="worksPage"] .worksSlider_node .category li {
  display: inline-block;
  position: relative;
}
[data-page="worksPage"] .worksSlider_node .category li:before {
  content: '+';
  display: inline-block;
  color: #fff;
  margin: 0 5px;
}
[data-page="worksPage"] .worksSlider_node .category li:first-child:before {
  content: none;
}
[data-page="worksPage"] .worksSlider_node .category a {
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .06em;
}

.worksSlider_img {
  height: 360px;
  position: relative;
  overflow: hidden;
}
[data-page="works"] .worksSlider_img, [data-page="en"] .worksSlider_img {
  height: 460px;
}
[data-page="worksPage"] .worksSlider_img:after {
  content: "";
  background-image: url(../images/common/thumb_cover.png);
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 120px;
  width: 100%;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.worksSlider_img img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.worksSlider_caption {
  color: #fff;
  font-size: 14px;
  letter-spacing: .06em;
}
[data-page="worksPage"] .worksSlider_caption {
  width: 100%;
  padding: 55px 20px 20px 20px;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.08) 40%, rgba(0, 0, 0, 0.08) 100%);
}
[data-page="works"] .worksSlider_caption {
  padding: 20px 0;
}

.worksSlider_control {
  width: 960px;
  position: absolute;
  top: 50%;
  margin-top: -30px;
  left: 50%;
  margin-left: -480px;
}

.worksSlider_control_prev, .worksSlider_control_next {
  display: block;
  width: 60px;
  height: 60px;
  position: absolute;
  top: 0;
  background-repeat: no-repeat;
  background-position: center;
  border: 2px solid #fff;
  cursor: pointer;
  z-index: 1;
}

.worksSlider_control_prev {
  background-image: url(../images/common/i_arrow_left.png);
  left: 0;
}
.worksSlider_control_prev:hover {
  background-image: url(../images/common/i_arrow_left_black.png);
}

.worksSlider_control_next {
  background-image: url(../images/common/i_arrow_right.png);
  right: 0;
}
.worksSlider_control_next:hover {
  background-image: url(../images/common/i_arrow_right_black.png);
}

.worksSlider_thumbnails {
  position: absolute;
  left: 50%;
  margin-left: -500px;
  width: 1000px;
  text-align: center;
}
[data-page="worksPage"] .worksSlider_thumbnails, [data-page="works"] .worksSlider_thumbnails {
  bottom: -54px;
}
[data-page="en"] .worksSlider_thumbnails {
  top: -110px;
  z-index: 1;
}

.worksSlider_thumbnailsInner {
  padding: 20px;
  background: #fff;
  display: inline-block;
}

.worksSlider_thumbnails_nodes {
  width: 135px;
  height: 68px;
  display: inline-block;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin: 0 6px;
}
[data-page="works"] .worksSlider_thumbnails_nodes {
  height: 86px;
}
.worksSlider_thumbnails_nodes:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  border: 0 solid #57A4A9;
  z-index: 1;
  transition: border 400ms;
}
.worksSlider_thumbnails_nodes.active:before {
  border: 4px solid #57A4A9;
}
.worksSlider_thumbnails_nodes img {
  width: 100%;
  height: auto;
}

.borderAnimation_before:before {
  transition: width 400ms ease 0ms;
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #000;
}
.borderAnimation.inview .borderAnimation_before:before {
  width: 100%;
}
.tablet .borderAnimation_before:before {
  transition: none;
  width: 100%;
}
.borderAnimation_before:after {
  transition: height 400ms ease 400ms;
  content: "";
  display: block;
  width: 4px;
  height: 0%;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000;
}
.borderAnimation.inview .borderAnimation_before:after {
  height: 100%;
}
.tablet .borderAnimation_before:after {
  transition: none;
  height: 100%;
}

.borderAnimation_after:before {
  transition: width 400ms ease 800ms;
  content: "";
  display: block;
  height: 4px;
  width: 0%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #000;
}
.borderAnimation.inview .borderAnimation_after:before {
  width: 100%;
}
.tablet .borderAnimation_after:before {
  transition: none;
  width: 100%;
}
.borderAnimation_after:after {
  transition: height 400ms ease 1200ms;
  content: "";
  display: block;
  width: 4px;
  height: 0%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
}
.borderAnimation.inview .borderAnimation_after:after {
  height: 100%;
}
.tablet .borderAnimation_after:after {
  transition: none;
  height: 100%;
}

.canvasBg {
  position: fixed;
  top: 0;
  left: 0;
}
[data-page="en"] .canvasBg {
  position: absolute;
  top: -50%;
}

/*--------------------------------------------

　　　loader

---------------------------------------------*/
@-webkit-keyframes anime1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes anime1 {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.commonLoader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 10000;
  text-align: center;
  background-color: #fff;
  transition: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.commonLoader * {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.commonLoader.bgOut {
  background-color: transparent;
}
.commonLoader.bgOut svg path, .commonLoader.bgOut svg circle {
  transition: 1000ms ease;
}
.commonLoader.bgOut svg path {
  stroke: #fff;
}
.commonLoader.bgOut svg #drawingPath {
  stroke-width: 5px !important;
}
.commonLoader.bgOut svg #circlePath {
  opacity: 0;
}
.commonLoader.bgOut svg #rideLogo #rideLogo1, .commonLoader.bgOut svg #rideLogo #rideLogo2, .commonLoader.bgOut svg #rideLogo #rideLogo3 {
  opacity: 1;
  -webkit-transform: translateY(0px);
      -ms-transform: translateY(0px);
          transform: translateY(0px);
}
.commonLoader.bgOut svg #rideLogo #rideLogo1 {
  transition: 800ms 100ms ease-in-out;
}
.commonLoader.bgOut svg #rideLogo #rideLogo2 {
  transition: 800ms 200ms ease-in-out;
}
.commonLoader.bgOut svg #rideLogo #rideLogo3 {
  transition: 800ms 300ms ease-in-out;
}
.commonLoader.bgOut svg #rideLogo path {
  stroke: none;
}
body.fadeOut .commonLoader {
  height: 0;
  visibility: hidden;
}
body[data-page="top"] .commonLoader, body[data-page="en"] .commonLoader {
  transition: 2000ms ease;
}
body.secondLoad[data-page="top"] .commonLoader, body.secondLoad[data-page="en"] .commonLoader {
  transition: none;
}
.commonLoader .commonLoader_inner {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 140px;
  height: 140px;
  margin: auto;
}
.commonLoader svg #rideLogo {
  fill: #fff;
}
.commonLoader svg #rideLogo #rideLogo1, .commonLoader svg #rideLogo #rideLogo2, .commonLoader svg #rideLogo #rideLogo3 {
  opacity: 0;
  -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
          transform: translateY(-10px);
}

#topSvg {
  display: none;
}
body[data-page="top"] #topSvg, body[data-page="en"] #topSvg {
  display: block;
}
body.secondLoad[data-page="top"] #topSvg, body.secondLoad[data-page="en"] #topSvg {
  display: none;
}

.commonLoader_svg {
  width: 140px;
  height: 140px;
  position: relative;
}
body[data-page="top"] .commonLoader_svg, body[data-page="en"] .commonLoader_svg {
  display: none;
}
body.secondLoad[data-page="top"] .commonLoader_svg, body.secondLoad[data-page="en"] .commonLoader_svg {
  display: block;
}
.commonLoader_svg i {
  display: block;
  background-color: #000;
  position: absolute;
}
.commonLoader_svg i.i1 {
  width: 0%;
  height: 5px;
  top: 0;
  left: 0;
}
.commonLoader_svg i.i2 {
  width: 5px;
  height: 0%;
  top: 0;
  right: 0;
}
.commonLoader_svg i.i3 {
  width: 0%;
  height: 5px;
  bottom: 0;
  right: 0;
}
.commonLoader_svg i.i4 {
  width: 5px;
  height: 0%;
  bottom: 0;
  left: 0;
}
.commonLoader_svg svg {
  width: 140px;
  height: 140px;
  fill: #000;
}

body.secondLoad[data-page="top"] .commonLoader, body.secondLoad[data-page="en"] .commonLoader {
  background-color: transparent;
}
body.secondLoad[data-page="top"] .commonLoader:before, body.secondLoad[data-page="en"] .commonLoader:before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 1s ease;
}
body.secondLoad[data-page="top"] .commonLoader.bgHide:before, body.secondLoad[data-page="en"] .commonLoader.bgHide:before {
  opacity: 0;
}
body.secondLoad[data-page="top"] .commonLoader.bgHide .commonLoader_svg i, body.secondLoad[data-page="en"] .commonLoader.bgHide .commonLoader_svg i {
  background-color: #fff;
}
body.secondLoad[data-page="top"] .commonLoader.bgHide .commonLoader_svg svg, body.secondLoad[data-page="en"] .commonLoader.bgHide .commonLoader_svg svg {
  fill: #fff;
}

/*--------------------------------------------

　　　header

---------------------------------------------*/
#header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5000;
  width: 100%;
  min-width: 1200px;
  text-align: center;
  letter-spacing: 0.1em;
  background-color: #fff;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  font-family: 'Lato','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
body.fixed #header {
  transition: background 200ms ease;
  position: fixed;
  background-color: #222;
  border-bottom: 0px;
  margin: 0 !important;
}
body.fixed #header:before {
  background-color: #000;
}

.header_snsList {
  display: inline-block;
  text-align: center;
  float: left;
  margin-left: 10px;
}
.header_snsList li {
  float: left;
  height: 60px;
  line-height: 60px;
  transition: 200ms ease;
}
.header_snsList li a {
  display: block;
  height: 100%;
  width: 40px;
}
.header_snsList li svg {
  width: 16px;
  height: 16px;
}
body.fixed .header_snsList {
  visibility: hidden;
}

.header_logo {
  width: 220px;
  height: 16px;
  line-height: 16px;
  position: absolute;
  top: 22px;
  left: 0px;
  visibility: hidden;
  text-align: center;
}
.header_logo svg {
  width: 220px;
  height: 16px;
  fill: #fff;
  vertical-align: top;
}
body.fixed .header_logo {
  visibility: visible;
}

.header_contents {
  height: 60px;
  position: relative;
}

.header_serviceList {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 0;
  text-align: center;
  margin-right: -50%;
}
body.fixed .header_serviceList {
  display: none;
}

.header_serviceList_item {
  display: inline-block;
  font-size: 15px;
  line-height: 60px;
}
.header_serviceList_item + .header_serviceList_item {
  position: relative;
}
.header_serviceList_item + .header_serviceList_item:before {
  content: "/";
  padding: 0 5px;
}

.header_nav {
  float: right;
}

.header_navList {
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  border-left: 1px solid #eee;
}
body.fixed .header_navList {
  border-left: 1px solid #444;
}

.header_navNode {
  line-height: 2.5;
  font-size: 12px;
  float: left;
  width: 142px;
  text-align: center;
  border-right: 1px solid #eee;
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  transition: background 500ms cubic-bezier(0.19, 1, 0.22, 1);
}
body.fixed .header_navNode {
  border-right: 1px solid #444;
}
body.fixed .header_navNode:hover {
  background-color: #444;
}
.header_navNode:hover a:after {
  height: 6px;
  opacity: 1;
}
.header_navNode:hover a svg {
  fill: #fff;
}
.header_navNode.current, .header_navNode:hover {
  background-color: #444;
}
.header_navNode a {
  position: relative;
  display: block;
  height: 60px;
  line-height: 60px;
}
.header_navNode a:after {
  content: '';
  width: 100%;
  height: 100%;
  background-color: #57A4A9;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 0;
}
.header_navNode svg {
  transition: fill 500ms cubic-bezier(0.19, 1, 0.22, 1);
  fill: #000;
}
body.fixed .header_navNode svg {
  fill: #fff;
}
body[data-page="about"] .header_navNode[data-cat="about"] a {
  border-bottom: solid 6px #57A4A9;
}
body[data-page="service"] .header_navNode[data-cat="service"] a {
  border-bottom: solid 6px #57A4A9;
}
body[data-page="worksPage"] .header_navNode[data-cat="works"] a, body[data-page="works"] .header_navNode[data-cat="works"] a {
  border-bottom: solid 6px #57A4A9;
}
body[data-page="newsPage"] .header_navNode[data-cat="news"] a, body[data-page="news"] .header_navNode[data-cat="news"] a {
  border-bottom: solid 6px #57A4A9;
}
body[data-page="company"] .header_navNode[data-cat="company"] a {
  border-bottom: solid 6px #57A4A9;
}
body[data-page="contact_input"] .header_navNode[data-cat="contact"] a {
  border-bottom: solid 6px #57A4A9;
}

.header_lang {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-right: 10px;
  margin-left: 7px;
}
.header_lang svg {
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
  cursor: pointer;
}

.header_langList {
  position: relative;
  float: right;
  padding: 17px 0;
  margin: 0 10px;
}

.header_langList_item {
  float: left;
  color: #fff;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
  width: 24px;
  line-height: 22px;
  border: solid 1px #57A4A9;
  background-color: #57A4A9;
}

.header_langList_link {
  display: block;
  color: #57A4A9;
  font-size: 11px;
  font-weight: normal;
  letter-spacing: 0;
  background-color: #fff;
}
body.fixed .header_langList_link {
  transition: background 200ms ease;
  background-color: #222;
}

.footer {
  position: relative;
  z-index: 1000;
  background-color: #222;
}

.footer_snsLine {
  line-height: 80px;
  height: 80px;
  background-color: #eee;
  text-align: center;
  color: #000;
  font-weight: bold;
}
.footer_snsLine p {
  transition: color 500ms;
  display: inline-block;
  color: #000;
  font-size: 15px;
  vertical-align: middle;
  letter-spacing: 0.3em;
}
.footer_snsLine a:hover p {
  color: #fff;
}
.footer_snsLine a {
  transition: background 500ms;
  display: block;
}
.footer_snsLine a:hover {
  background-color: #57A4A9;
}

.footer_snsLineList {
  display: inline-block;
  vertical-align: middle;
  margin-left: 50px;
}
.footer_snsLineList:before {
  transition: color 500ms;
  content: "Follow Us!";
  display: inline-block;
  vertical-align: middle;
  color: #000;
  font-size: 15px;
  letter-spacing: 0.1em;
}
.footer_snsLine a:hover .footer_snsLineList:before {
  color: #fff;
}
.footer_snsLineList li {
  display: inline-block;
  vertical-align: middle;
}
.footer_snsLineList li:first-child {
  position: relative;
  padding-left: 10px;
  margin-left: 30px;
}
.footer_snsLineList li:first-child:before {
  transition: background 500ms;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -22px;
  display: block;
  width: 25px;
  height: 1px;
  margin: auto 0;
  background-color: #999999;
}
.footer_snsLine a:hover .footer_snsLineList li:first-child:before {
  background-color: #fff;
}
.footer_snsLineList svg {
  transition: fill 500ms;
  width: 18px;
  height: 18px;
  fill: #000;
}
.footer_snsLine a:hover .footer_snsLineList svg {
  fill: #fff;
}

.toTop {
  text-align: center;
  position: absolute;
  bottom: 30px;
  right: 30px;
}
.toTop a {
  display: block;
  width: 40px;
  height: 40px;
  transition: 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #fff;
  background-image: url(../images/common/i_arrow_blk.png);
  background-repeat: no-repeat;
  background-position: center;
}
.toTop a:hover {
  background-color: #ccc;
  background-image: url(../images/common/i_arrow_blk.png);
}

.footer {
  position: relative;
  background-image: url(../images/common/footer_bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  letter-spacing: 0.1em;
  color: #fff;
}
.footer a {
  color: #fff;
}

.footer_intro {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 60px 0 35px;
}

.footer_logo {
  text-align: center;
  margin-bottom: 26px;
}
.footer_logo a {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 4px solid #fff;
}
.footer_logo svg {
  width: 100px;
  height: 100px;
  fill: #fff;
  margin: -4px 0 0 -4px;
}

.footer_introCap {
  margin-bottom: 16px;
}
[data-page="en"] .footer_introCap {
  font-size: 19px;
  letter-spacing: 0.2em;
}
.footer_introCap svg {
  width: 333px;
  height: 18px;
  fill: #fff;
}

.footer_introDivision {
  font-size: 14px;
  font-style: italic;
}

.footer_inner {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0 30px;
}
[data-page="en"] .footer_inner {
  font-size: 0;
  text-align: center;
  padding: 30px 0;
}

.footer_link {
  display: table;
}
[data-page="en"] .footer_link {
  display: inline-block;
}

.footer_linkNode {
  width: 150px;
  padding-left: 17px;
  display: table-cell;
}
[data-page="en"] .footer_linkNode {
  float: left;
  display: block;
  float: 60px;
}
.footer_linkNode dt {
  font-size: 18px;
  margin-bottom: 14px;
}
.footer_linkNode dd {
  line-height: 1.6;
  font-size: 13px;
  font-style: italic;
}
.footer_linkNode a {
  transition: color 300ms;
}
.footer_linkNode a:hover {
  color: #57A4A9;
}
.footer_linkNode.sns {
  width: 80px;
  padding: 0;
}

.footer_linkContents {
  width: 820px;
}
.footer_linkContents li {
  float: left;
  height: 50px;
  line-height: 50px;
}
.footer_linkContents li:before {
  content: "/";
  display: inline-block;
  vertical-align: middle;
}
.footer_linkContents li:first-child:before {
  display: none;
}
.footer_linkContents li:first-child a {
  margin-left: 0;
}
.footer_linkContents li a {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.1em;
  margin: 0 15px;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.footer_linkContents li a:after {
  content: "";
  display: inline-block;
  width: 100%;
  transition: 300ms ease;
  transform: scale(0);
  -ms-transform: scale(0);
  -webkit-transform: scale(0);
  position: absolute;
  bottom: 14px;
  left: -3px;
}
.footer_linkContents li a:hover:after {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
}

.footer_copyright {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  text-align: center;
  padding: 41px 0;
  position: relative;
}
.footer_copyright i {
  font-size: 16px;
  font-weight: normal;
  padding-right: 2px;
  vertical-align: middle;
  display: inline-block;
}
.footer_copyright svg {
  width: 166px;
  height: 12px;
  fill: #fff;
}

.footer_project {
  text-align: center;
}

.footer_project_list {
  width: 100%;
}

.footer_project_list_item {
  float: left;
  width: 20%;
  height: 80px;
}

.footer_project_list_link {
  transition: background 500ms;
  display: block;
  font-size: 0;
  line-height: 80px;
  background-color: #222;
  background-repeat: no-repeat;
  background-position: center center;
}
.footer_project_list_link svg {
  transition: fill 500ms;
  fill: #999999;
}
.footer_project_list_item-1 .footer_project_list_link svg {
  width: 112px;
}
.footer_project_list_item-2 .footer_project_list_link svg {
  width: 102px;
}
.footer_project_list_item-3 .footer_project_list_link svg {
  width: 125px;
}
.footer_project_list_item-4 .footer_project_list_link svg {
  width: 96px;
}
.footer_project_list_item-5 .footer_project_list_link svg {
  width: 87px;
}
.footer_project_list_item-1 .footer_project_list_link svg {
  height: 16px;
}
.footer_project_list_item-2 .footer_project_list_link svg {
  height: 22px;
}
.footer_project_list_item-3 .footer_project_list_link svg {
  height: 14px;
}
.footer_project_list_item-4 .footer_project_list_link svg {
  height: 15px;
}
.footer_project_list_item-5 .footer_project_list_link svg {
  height: 18px;
}
.footer_project_list_link:hover {
  background-color: #57A4A9;
}
.footer_project_list_link:hover svg {
  fill: #fff;
}

.breadList {
  margin-bottom: 25px;
}

.wrapper {
  background: #fff;
}

.wrapper_inner {
  width: 100%;
}

.main {
  width: 960px;
  margin: 0 auto 160px;
}

.mainTitle {
  position: absolute;
  top: 45px;
  left: 190px;
  z-index: 10;
}

.mainTitle_top {
  color: #fff;
  font-size: 36px;
  font-weight: 400;
}

.mainTitle_sub {
  color: #fff;
  font-size: 13px;
  margin-top: 7px;
}

.itemList {
  width: 960px;
  overflow: hidden;
}

.itemList_block {
  width: 980px;
  font-size: 0;
}
.itemList_block .postNode {
  width: 470px;
  display: inline-block;
  vertical-align: top;
  margin-top: 40px;
  position: relative;
}
.itemList_block .postNode:nth-child(even) {
  margin-left: 20px;
}
.itemList_block .postNode:nth-child(-n+2) {
  margin-top: 0px;
}
.itemList_block .nodeImg {
  position: relative;
  overflow: hidden;
}
.itemList_block .nodeImg img {
  width: 100%;
  height: auto;
}
.itemList_block .nodeCaption {
  padding: 25px;
}
.itemList_block .title {
  margin-bottom: 15px;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: .06em;
}
.itemList_block .date {
  display: inline-block;
  padding-right: 12px;
  font-size: 14px;
  letter-spacing: .16em;
  vertical-align: top;
}
.itemList_block .date:after {
  content: "|";
  display: inline-block;
  vertical-align: top;
  padding-left: 19px;
}
.itemList_block .category {
  display: inline-block;
}
.itemList_block .category li {
  display: inline-block;
  position: relative;
}
.itemList_block .category li:before {
  content: '+';
  display: inline-block;
  color: #57A4A9;
  font-size: 14px;
  margin: 0 5px;
}
.itemList_block .category li:first-child:before {
  content: none;
}
.itemList_block .category a {
  color: #57A4A9;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: .06em;
}

.listPager .page-numbers.prev, .listPager .page-numbers.next {
  top: 0;
  color: #999;
  border-color: #999;
}
.listPager .page-numbers.prev:after, .listPager .page-numbers.next:after {
  background-color: #999;
}
.listPager .page-numbers.prev {
  left: 0;
  background-image: url(../images/common/i_arrow_left_grey.png);
  background-position: left center;
}
.listPager .page-numbers.prev:after {
  left: 148px;
}
.listPager .page-numbers.prev:hover {
  color: #fff;
  background-image: url(../images/common/i_arrow_left.png);
  border-color: #57A4A9;
}
.listPager .page-numbers.prev:hover:after {
  width: 0;
  left: 20px;
}
.listPager .page-numbers.next {
  right: 0;
  background-image: url(../images/common/i_arrow_right_grey.png);
  background-position: right center;
}
.listPager .page-numbers.next:after {
  right: 148px;
}
.listPager .page-numbers.next:hover {
  color: #fff;
  background-image: url(../images/common/i_arrow_right.png);
  border-color: #57A4A9;
}
.listPager .page-numbers.next:hover:after {
  width: 0;
  right: 20px;
}
