html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline
}

html {
    line-height: 1
}

ol,ul {
    list-style: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

caption,th,td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle
}

q,blockquote {
    quotes: none
}

q:before,q:after,blockquote:before,blockquote:after {
    content: "";
    content: none
}

a img {
    border: none
}

article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary {
    display: block
}

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block
}

body {
    line-height: 1
}

ol,ul {
    list-style: none
}

blockquote,q {
    quotes: none
}

blockquote:before,blockquote:after,q:before,q:after {
    content: '';
    content: none
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

html,body {
    height: 100%
}

object {
    outline: none;
    display: block;
    overflow: hidden
}

textarea {
    overflow: auto;
    font: inherit
}

iframe {
    border: 0
}

address {
    font-style: normal
}

sup,sub {
    line-height: 0;
    font-size: .75em;
    position: relative;
    vertical-align: baseline
}

sup {
    top: -0.5em
}

sub {
    bottom: -0.25em
}

* {
    -webkit-tap-highlight-color: transparent
}

.clearfix:before,.clearfix:after,.clearfix>.lastcol:after,.ffluid:after,br.cb {
    display: block;
    height: 0 !important;
    line-height: 0;
    overflow: hidden;
    visibility: hidden
}

.clearfix:before,.clearfix:after {
    content: "."
}

.clearfix:after {
    clear: both
}

.clearfix,.ffluid {
    *zoom:1}

.fcolholder:after,.fcolholder .lastcol:after,.ffluid:after {
    font-size: xx-large;
    content: " x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x x "
}

.fcolholder .lastcol {
    display: table-cell;
    float: none;
    width: auto !important;
    *display: block;
    *zoom:1;_position: relative;
    _left: -3px;
    _margin-right: -3px
}

a:active,a:visited,a:link {
    outline: none
}

@font-face {
    font-family: 'TSTARMonoRoundBold';
    src: url("../fonts/tstarmonoroundbold_0-webfont.eot");
    src: url("../fonts/tstarmonoroundbold_0-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/tstarmonoroundbold_0-webfont.woff") format("woff"),url("../fonts/tstarmonoroundbold_0-webfont.ttf") format("truetype"),url("../fonts/tstarmonoroundbold_0-webfont.svg#TSTARMonoRoundBold") format("svg")
}

@font-face {
    font-family: 'TSTARMonoRoundLight';
    src: url("../fonts/tstarmonoroundlight_0-webfont.eot");
    src: url("../fonts/tstarmonoroundlight_0-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/tstarmonoroundlight_0-webfont.woff") format("woff"),url("../fonts/tstarmonoroundlight_0-webfont.ttf") format("truetype"),url("../fonts/tstarmonoroundlight_0-webfont.svg#TSTARMonoRoundBold") format("svg")
}

@font-face {
    font-family: 'TSTARMonoRoundRegular';
    src: url("../fonts/tstarmonoroundregular_0-webfont.eot");
    src: url("../fonts/tstarmonoroundregular_0-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/tstarmonoroundregular_0-webfont.woff") format("woff"),url("../fonts/tstarmonoroundregular_0-webfont.ttf") format("truetype"),url("../fonts/tstarmonoroundregular_0-webfont.svg#TSTARMonoRoundBold") format("svg")
}

@font-face {
    font-family: 'VanitasStencilBoldItalic';
    src: url("../fonts/vanitas_stencil_bold_italic-webfont.eot");
    src: url("../fonts/vanitas_stencil_bold_italic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/vanitas_stencil_bold_italic-webfont.woff") format("woff"),url("../fonts/vanitas_stencil_bold_italic-webfont.ttf") format("truetype"),url("../fonts/vanitas_stencil_bold_italic-webfont.svg#VanitasStencilBoldItalic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'VanitasStencilBold';
    src: url("../fonts/vanitas_stencil_bold-webfont.eot");
    src: url("../fonts/vanitas_stencil_bold-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/vanitas_stencil_bold-webfont.woff") format("woff"),url("../fonts/vanitas_stencil_bold-webfont.ttf") format("truetype"),url("../fonts/vanitas_stencil_bold-webfont.svg#VanitasStencilBold") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'VanitasStencilItalic';
    src: url("../fonts/vanitas_stencil_italic-webfont.eot");
    src: url("../fonts/vanitas_stencil_italic-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/vanitas_stencil_italic-webfont.woff") format("woff"),url("../fonts/vanitas_stencil_italic-webfont.ttf") format("truetype"),url("../fonts/vanitas_stencil_italic-webfont.svg#VanitasStencilItalic") format("svg");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'VanitasStencilRegular';
    src: url("../fonts/vanitas_stencil-webfont.eot");
    src: url("../fonts/vanitas_stencil-webfont.eot?#iefix") format("embedded-opentype"),url("../fonts/vanitas_stencil-webfont.woff") format("woff"),url("../fonts/vanitas_stencil-webfont.ttf") format("truetype"),url("../fonts/vanitas_stencil-webfont.svg#VanitasStencilRegular") format("svg");
    font-weight: normal;
    font-style: normal
}

#loaderView {
    position: absolute;
    width: 100%;
    height: 100%
}

#site-loader {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 1545px;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: url('../images/loader/logo.png?1455833355');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: 100% auto;
    background-position: center center;
    opacity: 0
}

#site-loader.animate-in,#site-loader.animate-out {
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#site-loader.animate-in {
    opacity: 1
}

#site-loader.animate-out {
    opacity: 0
}

@media only screen and (max-width: 568px) {
    #site-loader {
        background:#000;
        visibility: hidden;
        width: 0;
        height: 0
    }
}

#timeline {
    display: none
}

@media screen and (min-width: 760px) {
    #timeline {
        position:relative;
        width: calc(100% - 20px);
        top: 50%;
        z-index: 100;
        background: #ffc200;
        margin: 0 auto
    }

    #timeline .future {
        display: block;
        float: left;
        width: 40px;
        text-align: center;
        color: #000
    }

    #timeline .line {
        display: block;
        float: left;
        width: calc(100% - 80px);
        margin-top: 5px;
        border-bottom: 1px solid #B0B1AC;
        opacity: 0.2
    }

    #timeline .past {
        display: block;
        float: left;
        width: 40px;
        text-align: center;
        color: #000
    }
}

#headerView {
    background-color: transparent;
    width: auto;
    height: auto;
    left: 0px;
    top: 0px;
    position: fixed;
    z-index: 102
}

@media only screen and (max-width: 568px) {
    #headerView {
        width:100%
    }
}

@media only screen and (max-width: 568px) {
    #headerView #headerViewContainer {
        background-color:rgba(255,255,255,0.9);
        width: 100%;
        height: 70px;
        position: absolute;
        text-align: center
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #headerView #headerViewContainer {
        height:35px;
        overflow: hidden
    }
}

#headerView #logo {
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

@media only screen and (min-width: 569px) {
    #headerView #logo {
        position:absolute;
        width: 54px;
        height: 49px;
        left: 30px;
        top: 30px;
        opacity: 0
    }
}

@media only screen and (max-width: 568px) {
    #headerView #logo {
        position:relative;
        width: 54px;
        height: 49px;
        margin-top: 10px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        opacity: 0
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #headerView #logo {
        width:27px;
        height: 25px;
        margin-top: 5px
    }
}

#headerView #logo #heart-icon {
    position: absolute;
    width: 54px;
    height: 49px;
    left: 0px;
    top: 0px;
    background-image: url('../images/ui/heart.png?1455833357');
    background-size: 54px 49px;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-origin: 50% 50% 0px;
    -webkit-transform-origin: 50% 50% 0px;
    transform-origin: 50% 50% 0px
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    #headerView #logo #heart-icon {
        background-image:url('../images/ui/heart@2x.png?1455833357')
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #headerView #logo #heart-icon {
        width:27px;
        height: 25px;
        background-size: 100% 100%
    }
}

#headerView #logo #close-icon {
    position: absolute;
    width: 54px;
    height: 49px;
    left: 0px;
    top: 0px;
    background-image: url('../images/ui/close_button.png?1455833357');
    background-size: 37px 37px;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-origin: 50% 50% 0px;
    -webkit-transform-origin: 50% 50% 0px;
    transform-origin: 50% 50% 0px;
    opacity: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    #headerView #logo #close-icon {
        background-image:url('../images/ui/close_button@2x.png?1455833357')
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #headerView #logo #close-icon {
        width:27px;
        height: 25px;
        background-size: 100% 100%
    }
}

#headerView #logo #info-icon {
    position: absolute;
    width: 54px;
    height: 49px;
    left: 0px;
    top: 0px;
    background-image: url('../images/ui/info_button.png?1455833357');
    background-size: 34px 34px;
    background-repeat: no-repeat;
    background-position: center center;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform-origin: 50% 50% 0px;
    -webkit-transform-origin: 50% 50% 0px;
    transform-origin: 50% 50% 0px;
    opacity: 0
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5) {
    #headerView #logo #info-icon {
        background-image:url('../images/ui/info_button@2x.png?1455833357')
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #headerView #logo #info-icon {
        width:27px;
        height: 25px;
        background-size: 100% 100%
    }
}

html,body {
    background-color: #fff;
    font-family: "TSTARMonoRoundRegular",Helvetica,Arial,sans-serif;
    color: #2bb0a8;
    font-size: 12px;
    overflow: hidden
}

p {
    font-family: "TSTARMonoRoundRegular",Helvetica,Arial,sans-serif;
    color: #2bb0a8;
    font-size: 12px;
    padding-bottom: 12px;
    line-height: 17px
}

a {
    text-decoration: none;
    color: #2bb0a8;
    -moz-transition-property: color,border-color;
    -o-transition-property: color,border-color;
    -webkit-transition-property: color,border-color;
    transition-property: color,border-color;
    -moz-transition-duration: 0.2s,0.2s;
    -o-transition-duration: 0.2s,0.2s;
    -webkit-transition-duration: 0.2s,0.2s;
    transition-duration: 0.2s,0.2s
}

h1 {
    font-family: "VanitasStencilBoldItalic",Helvetica,Arial,sans-serif;
    color: #2bb0a8;
    font-size: 40px
}

@media only screen and (max-width: 568px) {
    h1 {
        font-size:20px
    }
}

h2 {
    font-family: "VanitasStencilBoldItalic",Helvetica,Arial,sans-serif;
    color: #2bb0a8;
    font-size: 32px
}

@media only screen and (max-width: 568px) {
    h2 {
        font-size:18px
    }
}

h3 {
    font-family: "TSTARMonoRoundRegular",Helvetica,Arial,sans-serif;
    color: #2bb0a8;
    font-size: 18px
}

@media only screen and (max-width: 568px) {
    h3 {
        font-size:16px
    }
}

h5 {
    font-family: "TSTARMonoRoundRegular",Helvetica,Arial,sans-serif;
    color: #2bb0a8;
    font-size: 12px;
    font-weight: normal
}

.highlight {
    font-family: "TSTARMonoRoundRegular",Helvetica,Arial,sans-serif
}

#scrollWrapper {
    position: absolute;
    width: 20px;
    height: 100%;
    z-index: 199;
    right: 0px;
    top: 0px
}

@media only screen and (max-width: 568px) {
    #scrollWrapper {
        top:70px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #scrollWrapper {
        top:35px
    }
}

#scrollWrapper #scrollBackground {
    position: absolute;
    width: 2px;
    height: 100%;
    background-color: #ffffff;
    right: 0px;
    top: 0px;
    -moz-transition-property: width,background-color;
    -o-transition-property: width,background-color;
    -webkit-transition-property: width,background-color;
    transition-property: width,background-color;
    -moz-transition-duration: 0.3s,0.3s;
    -o-transition-duration: 0.3s,0.3s;
    -webkit-transition-duration: 0.3s,0.3s;
    transition-duration: 0.3s,0.3s;
    -moz-transition-delay: 0s,0s;
    -o-transition-delay: 0s,0s;
    -webkit-transition-delay: 0s,0s;
    transition-delay: 0s,0s
}

#scrollWrapper #scrollBackground #scrollThumb {
    position: absolute;
    width: 100%;
    right: 0px;
    height: 50px;
    background-color: #353438;
    top: 0px;
    cursor: pointer
}

#scrollWrapper #scrollBackground.selected {
    width: 15px;
    background-color: rgba(255,255,255,0.5)
}

#homeView {
    visibility: hidden;
    z-index: 99
}

@media only screen and (min-width: 569px) {
    #homeView {
        position:fixed
    }
}

@media only screen and (max-width: 568px) {
    #homeView {
        position:absolute;
        padding-top: 0px;
        width: 100%;
        height: 100%;
        overflow: hidden
    }
}

#homeView.paused {
    position: fixed
}

@media only screen and (max-width: 568px) {
    #homeView #homeViewScroller {
        position:absolute;
        width: 100%;
        height: 100%;
        overflow: hidden
    }
}

#homeView #homeProjectContainer {
    -moz-transform: perspective(1000) translate3d(0, 0, 0);
    -webkit-transform: perspective(1000) translate3d(0, 0, 0);
    transform: perspective(1000) translate3d(0, 0, 0);
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    left: 0px
}

@media only screen and (min-width: 569px) {
    #homeView #homeProjectContainer {
        position:absolute
    }
}

@media only screen and (max-width: 568px) {
    #homeView #homeProjectContainer {
        position:static;
        padding-top: 70px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #homeView #homeProjectContainer {
        padding-top:35px
    }
}

#homeView .homeProjectThumb {
    opacity: 0;
    background-repeat: no-repeat;
    -moz-transition-property: opacity,background-size;
    -o-transition-property: opacity,background-size;
    -webkit-transition-property: opacity,background-size;
    transition-property: opacity,background-size;
    -moz-transition-duration: 0.5s,0.25s;
    -o-transition-duration: 0.5s,0.25s;
    -webkit-transition-duration: 0.5s,0.25s;
    transition-duration: 0.5s,0.25s;
    -moz-transition-timing-function: linear,ease-out;
    -o-transition-timing-function: linear,ease-out;
    -webkit-transition-timing-function: linear,ease-out;
    transition-timing-function: linear,ease-out;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: perspective(1000) translate3d(0, 0, 0);
    -webkit-transform: perspective(1000) translate3d(0, 0, 0);
    transform: perspective(1000) translate3d(0, 0, 0);
    background-size: 100% 100%;
    background-position: center center
}

@media only screen and (min-width: 569px) {
    #homeView .homeProjectThumb {
        position:absolute
    }
}

@media only screen and (max-width: 568px) {
    #homeView .homeProjectThumb {
        position:static;
        width: 100%;
        height: auto
    }
}

@media only screen and (min-width: 569px) {
    .no-touch.csstransitions #homeView .homeProjectThumb.over {
        background-size:105% 105%
    }
}

#homeView #homeProjectContainer #homeProjectBG {
    position: fixed;
    width: 3000px;
    height: 1500px;
    left: -1500px;
    top: -750px;
    background-color: transparent
}

@media only screen and (max-width: 568px) {
    #homeView #homeProjectContainer #homeProjectBG {
        display:none
    }
}

#homeView h2 {
    text-transform: uppercase
}

#overlayView {
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.9);
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    overflow: hidden;
    z-index: 100;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

#overlayView.animate-in {
    opacity: 1
}

#overlayView.animate-out {
    opacity: 0
}

@-webkit-keyframes projectfadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes projectfadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes projectfadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes projectfadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes projectseparatorin {
    0% {
        height: 0%
    }

    100% {
        height: 100%
    }
}

@-moz-keyframes projectseparatorin {
    0% {
        height: 0%
    }

    100% {
        height: 100%
    }
}

@-o-keyframes projectseparatorin {
    0% {
        height: 0%
    }

    100% {
        height: 100%
    }
}

@keyframes projectseparatorin {
    0% {
        height: 0%
    }

    100% {
        height: 100%
    }
}

#projectView {
    margin-top: 0px;
    text-align: center;
    color: #ffffff;
    width: 100%;
    max-width: 990px;
    height: 100%;
    margin-left: auto;
    margin-right: auto
}

#projectView .projectHomeContainer {
    height: 100%;
    width: 100%
}

#projectView .projectDescriptionRow {
    vertical-align: middle;
    padding-left: 30px;
    padding-right: 30px
}

@media only screen and (max-width: 568px) {
    #projectView .projectDescriptionRow {
        padding-left:10px;
        padding-right: 10px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #projectView .projectDescriptionRow {
        padding-left:50px;
        padding-right: 50px
    }
}

#projectView .projectDescription {
    vertical-align: bottom;
    width: 100%;
    text-transform: uppercase;
    padding-bottom: 20px;
    opacity: 0
}

@media only screen and (max-width: 990px) and (min-width: 480px) {
    #projectView .projectDescription {
        font-size:26px
    }
}

@media only screen and (max-width: 568px) {
    #projectView .projectDescription {
        font-size:16px;
        padding-bottom: 20px;
        padding-top: 70px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #projectView .projectDescription {
        font-size:10px;
        padding-bottom: 10px;
        padding-top: 0px
    }
}

#projectView .projectDescription.animate-in {
    -moz-animation-name: projectfadein;
    -webkit-animation-name: projectfadein;
    animation-name: projectfadein;
    -moz-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    opacity: 1
}

#projectView .projectDescription .highlight {
    color: #353438;
    text-decoration: none;
    font-family: inherit
}

#projectView .projectInfo {
    vertical-align: top;
    line-height: 15px;
    padding-top: 20px;
    opacity: 0
}

@media only screen and (max-width: 568px) {
    #projectView .projectInfo {
        font-size:10px;
        line-height: 12px;
        padding-top: 20px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #projectView .projectInfo {
        font-size:5px;
        line-height: 6px;
        padding-top: 5px
    }
}

#projectView .projectInfo.animate-in {
    -moz-animation-name: projectfadein;
    -webkit-animation-name: projectfadein;
    animation-name: projectfadein;
    -moz-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    opacity: 1
}

#projectView .projectSeparator {
    width: 1px;
    height: 83px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.5
}

@media only screen and (max-width: 568px) {
    #projectView .projectSeparator {
        height:40px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #projectView .projectSeparator {
        display:none
    }
}

#projectView .projectSeparator .projectSeparatorContent {
    width: 100%;
    height: 100%;
    background-color: #2bb0a8
}

#projectView .projectSeparator .projectSeparatorContent.animate-in {
    height: 0%;
    -moz-animation-name: projectseparatorin;
    -webkit-animation-name: projectseparatorin;
    animation-name: projectseparatorin;
    -moz-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-duration: 0.7s;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -moz-animation-delay: 0.4s;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    opacity: 1
}

#projectView .projectLoader {
    position: absolute;
    width: 0px;
    height: 0px;
    text-align: center;
    left: 50%;
    margin-left: 0px;
    margin-top: 100px;
    background-repeat: no-repeat;
    background-position: 0px 0px;
    opacity: 0
}

@media only screen and (max-width: 568px) {
    #projectView .projectLoader {
        margin-top:45px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #projectView .projectLoader {
        margin-top:35px
    }
}

#projectView .projectLoader.animate-in {
    -moz-animation-name: projectfadein;
    -webkit-animation-name: projectfadein;
    animation-name: projectfadein;
    -moz-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -webkit-animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    animation-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-duration: 1.3s;
    -webkit-animation-duration: 1.3s;
    animation-duration: 1.3s;
    -moz-animation-delay: 0.3s;
    -webkit-animation-delay: 0.3s;
    animation-delay: 0.3s;
    opacity: 1
}

canvas#projectSpinner {
    display: block;
    width: 350px;
    margin: 0 auto
}

#projectDetailsView {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    overflow-y: hidden;
    overflow-x: hidden;
    z-index: 101;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.touch #projectDetailsView {
    overflow-y: hidden
}

#projectDetailsView #projectDetailsInner {
    width: 100%;
    height: 100%;
    left: 0px;
    position: absolute;
    overflow: hidden;
    top: 0px
}

.touch #projectDetailsView #projectDetailsInner {
    background-color: transparent
}

#projectDetailsView #projectDetailsInner #projectDetailContentMask {
    position: absolute;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff
}

.projectDetailContent {
    width: 100%;
    max-width: 1600px;
    min-width: 320px;
    height: auto;
    overflow: hidden;
    padding-bottom: 204px;
    margin-left: auto;
    margin-right: auto;
    position: absolute
}

@media only screen and (max-width: 568px) {
    .projectDetailContent {
        margin-top:70px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    .projectDetailContent {
        margin-top:35px
    }
}

@media only screen and (max-width: 568px) {
    .projectDetailContent .projectCopy.desktopOnly,.projectDetailContent .projectImage.desktopOnly {
        display:none
    }
}

.projectDetailContent .projectImage {
    position: relative;
    float: left;
    max-width: 100%;
    line-height: 0px
}

@media only screen and (max-width: 568px) {
    .projectDetailContent .projectImage:first-child {
        margin-top:0px !important
    }
}

.projectDetailContent .projectImage img,.projectDetailContent .projectImage video {
    width: auto;
    height: auto;
    max-width: 100%
}

.projectDetailContent .projectCopy {
    position: relative;
    text-align: left;
    float: left;
    color: #353438;
    line-height: 20px
}

.projectDetailContent .projectCopy a {
    color: #353438;
    border-bottom: 1px solid #353438
}

.projectDetailContent .projectCopy .projectCopyDash,.projectDetailContent .projectCopy .projectCopyTitle {
    color: #353438
}

.projectDetailContent .projectCopyTitle::-moz-selection {
    color: #FFFFFF;
    background: #353438
}

.projectDetailContent .projectCopyTitle::selection {
    color: #FFFFFF;
    background: #353438
}

.no-touch .projectDetailContent .projectCopy a:hover {
    color: #2bb0a8;
    border-color: #2bb0a8
}

.projectDetailContent .projectCopy .projectCopyDash {
    padding-bottom: 10px
}

.projectDetailContent .projectCopy .projectCopyTitle {
    padding-bottom: 14px
}

.projectDetailContent .projectCopy p {
    color: #353438
}

.projectDetailContent p::-moz-selection {
    color: #FFFFFF;
    background: #353438
}

.projectDetailContent p::selection {
    color: #FFFFFF;
    background: #353438
}

.projectDetailContent .projectCopy ol {
    list-style-type: decimal;
    list-style-position: inside;
    padding-bottom: 14px
}

.projectDetailContent .projectCopy ol li {
    padding-bottom: 5px
}

.projectDetailContent .projectCopy ol li:last-child {
    padding-bottom: 0px
}

.projectDetailContent .projectNavigation {
    position: absolute;
    height: 130px;
    padding: 0px;
    margin: 0px;
    display: inline;
    left: 50%;
    bottom: 0px
}

@media only screen and (max-width: 568px) {
    .projectDetailContent .projectNavigation {
        bottom:38px
    }
}

.projectDetailContent .projectNavigation li {
    padding: 0px;
    margin: 0px;
    display: inline
}

.projectDetailContent .projectNavigation li {
    padding: 0px;
    margin: 0px;
    display: inline
}

.projectDetailContent .projectNavigation .projectNavButton {
    position: absolute;
    width: 63px;
    height: 63px;
    background-repeat: no-repeat;
    background-position: 10px 0px;
    overflow: hidden
}

.projectDetailContent .projectNavigation .projectNavButton#rightButton {
    left: 40px
}

.projectDetailContent .projectNavigation .projectNavButton#topButton {
    left: -31px
}

.projectDetailContent .projectNavigation .projectNavButton#leftButton {
    left: -103px
}

.projectDetailContent .projectNavigation .projectNavButtonCircle {
    width: 63px;
    height: 63px;
    position: absolute;
    z-index: 999999
}

@-webkit-keyframes infofadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes infofadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-o-keyframes infofadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes infofadein {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

#infoView {
    text-align: center;
    color: #353438;
    display: table;
    width: 100%;
    max-width: 1024px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s
}

#infoView .infoTitleRow {
    opacity: 0;
    display: table-row;
    vertical-align: middle;
    max-width: 990px;
    width: 100%;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}

@media only screen and (max-width: 568px) {
    #infoView .infoTitleRow {
        margin-top:70px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #infoView .infoTitleRow {
        margin-top:35px
    }
}

#infoView .infoTitleRow.animate-in {
    -moz-animation-name: infofadein;
    -webkit-animation-name: infofadein;
    animation-name: infofadein;
    -moz-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-duration: 0.5s;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

#infoView .infoTitleRow.animate-out {
    opacity: 0
}

#infoView .infoSocialRow {
    opacity: 0;
    display: table-row;
    vertical-align: middle;
    min-width: 990px;
    width: 100%
}

#infoView .infoSocialRow.animate-in {
    -moz-animation-name: infofadein;
    -webkit-animation-name: infofadein;
    animation-name: infofadein;
    -moz-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -webkit-animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    -moz-animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -moz-animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    -moz-animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -moz-animation-delay: 0.5s;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s
}

#infoView .infoSocialRow.animate-out {
    opacity: 0
}

#infoView .infoTitle {
    display: table-cell;
    vertical-align: bottom;
    width: 100%;
    text-transform: uppercase;
    padding-bottom: 70px;
    padding-left: 0;
    padding-right: 0
}

@media only screen and (max-width: 990px) and (min-width: 480px) {
    #infoView .infoTitle {
        font-size:26px
    }
}

@media only screen and (max-width: 568px) {
    #infoView .infoTitle {
        font-size:16px;
        padding-bottom: 20px;
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 10px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #infoView .infoTitle {
        font-size:10px;
        padding-bottom: 20px;
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 50px
    }
}

#infoView .infoTitle .highlight {
    color: #353438;
    text-decoration: none;
    font-family: inherit
}

#infoView .infoSocialRow ul li {
    display: inline;
    margin-bottom: 5px
}

@media only screen and (max-width: 568px) {
    #infoView .infoSocialRow ul li {
        display:block;
        margin-bottom: 10px !important
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #infoView .infoSocialRow ul li {
        display:inline;
        margin-bottom: 5px !important
    }
}

#infoView .infoSocialRow ul li,#infoView .infoSocialRow ul li a {
    font-family: "VanitasStencilBoldItalic",Helvetica,Arial,sans-serif;
    font-size: 40px;
    color: #353438;
    text-transform: uppercase
}

@media only screen and (max-width: 990px) and (min-width: 480px) {
    #infoView .infoSocialRow ul li,#infoView .infoSocialRow ul li a {
        font-size:26px
    }
}

@media only screen and (max-width: 568px) {
    #infoView .infoSocialRow ul li,#infoView .infoSocialRow ul li a {
        font-size:16px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #infoView .infoSocialRow ul li,#infoView .infoSocialRow ul li a {
        font-size:10px
    }
}

.no-touch #infoView .infoSocialRow ul li a:hover {
    color: #2bb0a8
}

#infoView .infoSocialRow ul li.divider {
    margin-left: 10px;
    margin-right: 10px
}

@media only screen and (max-width: 568px) {
    #infoView .infoSocialRow ul li.divider {
        display:none
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #infoView .infoSocialRow ul li.divider {
        display:inline-block
    }
}

#infoView .infoSocialRow ul li.block {
    display: block;
    margin: 0px
}

#infoView .infoSocialRow ul li.phone,#infoView .infoSocialRow ul li.phone a {
    color: #2bb0a8
}

.no-touch #infoView .infoSocialRow ul li.phone a:hover {
    color: #353438;
    text-decoration: none
}

#errorView {
    text-align: center;
    color: #353438;
    display: table;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto
}

#errorView .errorTitleRow {
    display: table-row;
    vertical-align: middle;
    max-width: 990px;
    width: 100%
}

@media only screen and (max-width: 568px) {
    #errorView .errorTitleRow {
        margin-top:70px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #errorView .errorTitleRow {
        margin-top:35px
    }
}

#errorView .errorTitle {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    text-transform: uppercase;
    padding-left: 50px;
    padding-right: 50px
}

@media only screen and (max-width: 990px) and (min-width: 480px) {
    #errorView .errorTitle {
        font-size:26px
    }
}

@media only screen and (max-width: 568px) {
    #errorView .errorTitle {
        font-size:16px;
        padding-bottom: 20px;
        padding-top: 70px;
        padding-left: 10px;
        padding-right: 10px
    }
}

@media only screen and (max-width: 568px) and (orientation: landscape) {
    #errorView .errorTitle {
        font-size:10px;
        padding-bottom: 20px;
        padding-top: 40px;
        padding-left: 50px;
        padding-right: 50px
    }
}

#errorView .errorTitle .highlight {
    color: #353438;
    text-decoration: none;
    font-family: inherit
}
