#projectDetailContentsandisk #projectImage1 {
    clear: left;
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage1 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage1 {
        left:0%;
        margin-top: 0%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectImage2 {
    clear: left
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage2 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage2 {
        left:0%;
        margin-top: 0%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectCopy2-1 {
    clear: left
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy2-1 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy2-1 {
        left:0%;
        margin-top: 0%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy2-2 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy2-2 {
        left:0%;
        margin-top: 0%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage3 {
    clear: left
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage3 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage3 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy3 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy3 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage4 {
    clear: left
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage4 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage4 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy4 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy4 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage5 {
    clear: right;
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage5 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage5 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectCopy5 {
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy5 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy5 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage6 {
    clear: right;
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage6 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage6 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectCopy6 {
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy6 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy6 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage7 {
    clear: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage7 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage7 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy7 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy7 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage8 {
    clear: right;
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage8 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage8 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectCopy8 {
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy8 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy8 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage9 {
    clear: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage9 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage9 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy9 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy9 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage10 {
    clear: right;
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage10 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage10 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectCopy10 {
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy10 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy10 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage11 {
    clear: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage11 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage11 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy11 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy11 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage12 {
    clear: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage12 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage12 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy12 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy12 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage13 {
    clear: right;
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage13 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage13 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectCopy13 {
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy13 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy13 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage14 {
    clear: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage14 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage14 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy14 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy14 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}

#projectDetailContentsandisk #projectImage2-5 {
    clear: right;
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectImage2-5 {
        left:0px;
        margin-top: 14px;
        width: 100%;
        max-width: 960px
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectImage2-5 {
        left:0%;
        margin-top: 1.5625%;
        width: 60%;
        max-width: 960px
    }
}

#projectDetailContentsandisk #projectCopy2-5 {
    float: right
}

@media only screen and (max-width: 568px) {
    #projectDetailContentsandisk #projectCopy2-5 {
        left:0px;
        margin-top: 14px;
        margin-bottom: -12px;
        width: 98.23944%;
        max-width: 568px;
        padding: 5px;
        clear: left;
        text-align: center
    }
}

@media only screen and (min-width: 569px) {
    #projectDetailContentsandisk #projectCopy2-5 {
        left:0%;
        margin-top: 6.25%;
        width: 17.1875%;
        max-width: 275px;
        padding: 1.5625%
    }
}
