@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

#contentsArea ul { list-style: none; }
#contentsArea .worksTop h2 { max-width: 800px; }
.itemSp { display: none; }

/* ==========================================================================
   
   List

   ========================================================================== */
#contentsArea .worksBox { clear: both; }
/* large */
#contentsArea ul.large { width: 50%; float: left; }
#contentsArea ul.large li { width: 100%; }
/* large inner */
#contentsArea ul.large li.innerImg { width: 50%; float: left; }
/* small */
#contentsArea ul.small { width: 100%; clear:both; }
#contentsArea ul.small li { width: 25%; float: left; }
/* item */
.item { float: left; position: relative; display: block; overflow: hidden; }
.item img { width: 100%; float: left; -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; }
.item:hover img { width: 100%; -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
.item .overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; display: block; z-index: 2; opacity: 0; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; text-align: center; cursor: pointer; -webkit-transform: scale(.5); -moz-transform: scale(.5); -o-transform: scale(.5); -ms-transform: scale(.5); transform: scale(.5); }
.item:hover .overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; display: block; background: rgba(255,255,255,.8); background: rgba(0,0,15,.8); z-index: 2; opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
/* link */
.item a { float: left; color: #f0f0f0; padding: 3%; }
.item h3 { font-family: 'Rokkitt', serif; font-weight: 700; font-size: 1.3em; letter-spacing:.05em; line-height:1.2; }
.item .category { font-family: 'dinregular'; font-size: .85em; letter-spacing: .05em; line-height:1.4; }
.item .link { display: inline-block; *display: inline; *zoom: 1; font-family: 'dinregular'; font-size: .775em; border: 1px #f0f0f0 solid; margin-top:15px; padding: 0 25px; line-height:30px; letter-spacing:.1em; text-transform:uppercase; }
.item:hover .link { color:#f0f0f0; background:#c30d23; border: 1px #c30d23 solid; }

/* ==========================================================================
   
   Inner

   ========================================================================== */
#works { margin-top: 70px; }
.rocket { background-image: url(../images/designworks/rocket.png); background-repeat: no-repeat; background-size:cover; height: 3000px; width:100%; position: absolute; top: 80px; left: 0; z-index:-1; }
/* main */
#works .mainImg { max-width: 950px; width: 80%; text-align:center; margin: 30px auto 0; }
#works .mainImg img { width: 100%; }
#works .detail { max-width: 950px; width: 80%; font-family: 'dinregular'; color: #00000f; margin: 0 auto 4%; }
#works .detail h4 { font-family: 'Rokkitt', serif; font-weight: 700; font-size: .95em; letter-spacing:.05em; line-height: 1.2; margin: 10px 0 5px; }
#works .detail .txt { font-size: .7em; letter-spacing:.05em; line-height: 1.2; }
/* list */
#worksList { max-width: 950px; width: 80%; margin: 0 auto; }
#worksList ul { list-style: none; margin-bottom: 6%; }
#worksList ul img { width: 100%;}
#worksList ul.two-c li { width: 50%; float: left; }
#worksList ul.three-c li { width: 33.333%; float: left; }
/* etc */
#worksList ul.group { margin-top: -6%; }
#worksList h5 { font-family: 'Rokkitt', serif; font-weight: 400; font-size: .9em; letter-spacing:.05em; line-height: 1.2; margin: 10px 0 5px; }
#worksList .detail { font-family: 'dinregular'; color: #00000f; margin: 15px 0  4%; }
#worksList .detail .txt { font-size: .7em; letter-spacing:.05em; line-height: 1.2; }

/* ===============================================================================================

   @media screen and (max-width: 767px)

   =============================================================================================== */
@media screen and (max-width: 767px) {
/* ==============================
   List
   ============================== */
/* large */
#contentsArea ul.large { width: 100%; float: none; }
/* small */
#contentsArea ul.large li.innerImg,
#contentsArea ul.small li { width: 50%; }
}

/* ===============================================================================================

   @media screen and (max-width: 568px)

   =============================================================================================== */
@media screen and (max-width: 568px) {
.item { display: none; }

/* ==============================
   List
   ============================== */
#contentsArea ul.small li,
#contentsArea ul.large,
#contentsArea ul.large li.innerImg { width: 100%; float: none; }
/* itemSp-img */
.itemSp { display: block; width: 100%; border-bottom: 1px #dfdebf solid; }
.itemSp .imgBox { position: relative; }
.itemSp img { display: block; width: 100%; }
.itemEnd { border-bottom: none; }
.itemSp .workLogo { width: 10px; height: 10px; position: absolute; bottom: -5px; left: 50%; margin-left:-5px; background:#f3f2d9; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
/* itemSp-txt */
.txtBox { padding: 5% 8% 10%; }
.txtBox h3 { font-family: 'Rokkitt', serif; font-weight: 700; font-size: 1.3em; line-height: 1.3; }
.txtBox .category { font-family: 'dinregular'; font-size: .8em; letter-spacing: .1em; line-height: 1.2; margin-bottom: 7%; }
/* link */
.txtBox .link { text-align: center; }
.txtBox .link a.btn { font-family: 'dinregular'; font-size: 1em; text-align: center; padding: 4% 42%; border: 1px #00000f solid; }
.txtBox .link a.btn:hover { background: #00000f; color: #f0f0f0; }

/* ==============================
   Inner
   ============================== */
#works { margin-top: 10px; }
.rocket { background: none; }
/* main */
#works .mainImg { width: 95%; margin: 10px auto 0; }
#works .detail { width: 93%; }
#works .detail h4 { margin: 15px 0 0; }
/* list */
#worksList { width: 95%; }
#worksList ul { margin-bottom: 3%; }
#worksList ul.two-c li { width: 100%; float: none; margin-bottom: 3%; }
#worksList ul.three-c li { width: 100%; float: none; margin-bottom: 3%; }
#worksList ul.two-c li.spmg0,
#worksList ul.three-c li.spmg0 { margin-bottom: 0%; }
/* etc */
#worksList ul.group { margin-top: -2%; }
#worksList h5 { margin: 30px 0 5px; }
#worksList .detail { margin-top: 10px; }
}
