@import url(http://fonts.googleapis.com/css?family=Rokkitt:400,700);

#contentsArea ul { list-style: none; }
.itemSp { display: none; }

/* ==========================================================================

   List

   ========================================================================== */
.item { width: 33.333%; float: left; position: relative; display: block; overflow: hidden; }
.item img { width: 100%; float: left; -webkit-transition: all 1s; -moz-transition: all 1s; transition: all 1s; }
.item:hover img { width: 100%; -webkit-transform: scale(1.1); -moz-transform: scale(1.1); -o-transform: scale(1.1); -ms-transform: scale(1.1); transform: scale(1.1); }
.item .overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; display: block; z-index: 2; opacity: 0; -webkit-transition: all 0.5s; -moz-transition: all 0.5s; transition: all 0.5s; text-align: center; cursor: pointer; -webkit-transform: scale(.5); -moz-transform: scale(.5); -o-transform: scale(.5); -ms-transform: scale(.5); transform: scale(.5); }
.item:hover .overlay { position: absolute; top: 0; left: 0; right: 0; bottom: 0; width: 100%; display: block; background: rgba(255,255,255,.8); background: rgba(0,0,15,.8); z-index: 2; opacity: 1; -webkit-transform: scale(1); -moz-transform: scale(1); -o-transform: scale(1); -ms-transform: scale(1); transform: scale(1); }
/* link */
.item a { float: left; color: #f0f0f0; padding: 3%; }
.item h3 { font-family: 'Rokkitt', serif; font-weight: 700; font-size: 1.3em; letter-spacing:.05em; line-height:1.2; }
.item .category { font-family: 'dinregular'; font-size: .85em; letter-spacing: .05em; line-height:1.4; }
.item .link { display: inline-block; *display: inline; *zoom: 1; font-family: 'dinregular'; font-size: .775em; border: 1px #f0f0f0 solid; margin-top:15px; padding: 0 25px; line-height:30px; letter-spacing:.1em; text-transform:uppercase; }
.item:hover .link { color:#f0f0f0; background:#c30d23; border: 1px #c30d23 solid; }

/* ==========================================================================

   Inner

   ========================================================================== */
#photos { margin-top: 70px; }
.camera { background-image: url(../images/photos/camera.png); background-repeat: no-repeat; background-size:cover; min-height: 3000px; width:100%; top: 80px; left: 0; position: absolute; z-index:-1; }
#photosList .spImg { display: none; }
/* list */
#photosList { max-width: 1700px; width: 90%; margin: 100px auto 0; }
.mgt30 { margin-top:30px; }
.mgt50 { margin-top:50px; }
.mgt80 { margin-top:80px; }
.mgt100{ margin-top:100px; }

/* ===============================================================================================

   @media screen and (max-width: 767px)

   =============================================================================================== */
@media screen and (max-width: 767px) {
/* ==============================
   List
   ============================== */
.item { width: 100%; float: none; }
}

/* ===============================================================================================

   @media screen and (max-width: 568px)

   =============================================================================================== */
@media screen and (max-width: 568px) {
.item { display: none; }
/* ==============================
   List
   ============================== */
/* itemSp-img */
.itemSp { display: block; width: 100%; border-bottom: 1px #dfdebf solid; }
.itemSp .imgBox { position: relative; }
.itemSp img { display: block; width: 100%; }
.itemSp .workLogo { width: 10px; height: 10px; position: absolute; bottom: -5px; left: 50%; margin-left:-5px; background:#f3f2d9; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); }
.itemEnd { border-bottom: none; }
/* itemSp-txt */
.txtBox { padding: 5% 8% 10%; }
.txtBox h3 { font-family: 'Rokkitt', serif; font-weight: 700; font-size: 1.3em; line-height: 1.3; }
.txtBox .category { font-family: 'dinregular'; font-size: .8em; letter-spacing: .1em; line-height: 1.2; margin-bottom: 7%; }
/* link */
.txtBox .link { text-align: center; }
.txtBox .link a.btn { font-family: 'dinregular'; font-size: 1em; text-align: center; padding: 4% 42%; border: 1px #00000f solid; }
.txtBox .link a.btn:hover { background: #00000f; color: #f0f0f0; }

/* ==============================
   Inner
   ============================== */
#photosList { margin-top: 10px; }
.camera { background: none; }
/* main */
#photosList .photoSp { width: 100%; margin: 0 auto 10px; }
#photosList .pcImg { display: none; }
#photosList .spImg { display: block; }
/* reset */
.push1 { margin: 0; }
.mgt30, .mgt50, .mgt80, .mgt100 { margin: 0; }
.fg1, .fg2, .fg3, .fg4, .fg5, .fg6, .fg7, .fg8, .fg9, .fg10, .fg11, .fg12 { width: 100%; }
}
